---
title: 後台 | 第五週 - Vue 延伸套件
layout: ./app/layout.ejs
engine: ejs
current: backend
---

<div id="app2">
  <div class="container">
    <div class="row py-3">
      <div class="col-10 offset-1">
        <div class="d-flex justify-content-between mx-6 my-8">
          <h2>產品列表</h2>
          <button type="button" class="btn btn-outline-dark" @click="openEditModal(1,null);">
            建立新的產品
          </button>
        </div>
        <table class="table table-hover mt-4 text-center">
          <thead>
            <tr>
              <th>
                分類
              </th>
              <th>
                產品名稱
              </th>
              <th>
                美金售價（萬元）
              </th>
              <th>
                約合台幣（萬元）
              </th>
              <th>
                是否啟用
              </th>
              <th>
                編輯
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in products" :key="item.id">
              <td>
                <p class="badge bg-primary">
                  {{ item.category }}
                </p>
              </td>
              <td>
                {{ item.title }}
              </td>
              <td>
                {{ item.origin_price }}
              </td>
              <td>
                {{ item.price }}
              </td>
              <td>
                <span v-if="item.is_enabled" @click="changeStatus(item.id)"
                 class="btn btn-success py-2 px-2 rounded">
                    啟用
                </span>
                <span v-else @click="changeStatus(item.id)"
                 class="btn btn-dark py-2 px-2 rounded">
                    未啟用
                </span>
              </td>
              <td>
                <div class="btn-group" role="group">
                  <!-- 編輯產品內容 -->
                  <button type="button" class="btn btn-warning" @click="openEditModal(0,item)">
                    <i class="bi bi-pencil-square"></i>
                  </button>
                  <!-- 刪除品項 -->
                  <button type="button" class="btn btn-danger" @click="openDelModal(item)">
                    <i class="bi bi-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <p>目前有 <span>{{ products.length }}</span> 項產品</p>

        <br>

        <!-- 分頁元件 -->
        <pagination_products 
          :pagination="pagination"
          class="d-flex justify-content-center"
          @get-products="getProducts"
        ></pagination_products>

      </div>
      
      <!-- Modal 編輯產品 -->
      <div id="productModal" ref="productModal" class="modal fade" tabindex="-1" 
      aria-labelledby="productModalLabel" aria-hidden="true">
        <modal_edit 
        :temp-item-info="tempItemInfo"
        :is_add-new-product = "is_addNewProduct"
        @edit-product="editProduct">
        </modal_edit>
      </div>

      <!-- Modal 刪除產品 -->
      <div id="delProductModal" ref="delProductModal" class="modal fade" tabindex="-1"
      aria-labelledby="delProductModalLabel" aria-hidden="true">
        <modal_del
        :temp-item-info="tempItemInfo"
        @del-product="delProduct">
        </modal_del>
      </div>

    </div>

  </div>


</div>

<!-- x-template：分頁按鈕 -->
<script type="text/x-template" id="pagination-template">
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item" :class="{disabled: !pagination.has_pre}">
      <a class="page-link" href="#" aria-label="Previous"
       @click.prevent="$emit('get-products', pagination.current_page-1)">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item" 
      v-for="(page,i) in pagination.total_pages" :key="i"
      :class="{active: page === pagination.current_page}">
      <a class="page-link" href="#"
        @click.prevent="$emit('get-products', page)">
        {{ page }}
      </a>
    </li>
    <li class="page-item" :class="{disabled: !pagination.has_next}">
      <a class="page-link" href="#" aria-label="Next"
        @click.prevent="$emit('get-products', pagination.current_page+1)">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
</script>

<!-- x-template：Modal 編輯產品樣板 -->
<script type="text/x-template" id="edit-modal-template">
<div class="modal-dialog modal-xl">
  <div class="modal-content border-0">
    <div class="modal-header bg-dark text-white">
      <h5 id="productModalLabel" class="modal-title">
        <span>新增產品</span>
      </h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-4">
          <div class="bg-secondary text-light rounded p-4 mb-4">
            <h4 class="mb-3">圖檔上傳區</h4>
            <input type="file" class="form-control mb-3"
              @change="uploadProductImg"
              id="btn_uploadImg" placeholder="請輸入圖片連結"/>
            <p v-if="is_uploadImg" class="text-danger fw-bolder mb-3">圖片上傳中...請靜待回傳結果</p>
            <p v-else class="mb-3">圖檔網址回傳結果：</p>
            <div class="input-group mb-3">
              <input type="text" class="form-control" id="imgFileLink"
                v-model = "uploadImgFile.imageUrl"
                aria-label="圖檔連結位址" placeholder="圖檔連結位址">
              <button type="button" class="input-group-text"
              id="btn_copyLink" @click="copyText()" data-clipboard-target="#imgFileLink">
                <!-- 複製位址 -->
                <span class="material-icons">
                  content_copy
                </span>
              </button>
            </div>
            <p v-text = "uploadImgFile.message"></p>
          </div>
          <div class="mb-2">
            <div class="mb-3">
              <h4 class="mb-3">產品主圖</h4>
              <div class="border mb-8">
                <input type="text" class="form-control mb-3" aria-label="請輸入圖片網址或上傳圖檔" aria-describedby="button-addon2" 
                placeholder="請輸入圖片連結位址"
                v-model="tempItemInfo.imageUrl">
                <div class="p-8">
                  <img :src="tempItemInfo.imageUrl" :alt="tempItemInfo.title + '主圖'">
                </div>
              </div>
            </div>
          </div>
          <div>
            <h4 class="mb-3">新增其他附圖</h4>
            <template v-for="(imgUrl,i) in tempItemInfo.imagesUrl" :key="i">
              <div class="border mb-8">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" aria-label="請輸入圖片網址" aria-describedby="button-addon2" 
                  placeholder="請輸入圖片連結位址或上傳圖檔"
                  v-model="tempItemInfo.imagesUrl[i]">
                  <button class="btn btn-danger" type="button" @click="tempItemInfo.imagesUrl.splice(i,1)">
                    <i class="bi bi-trash"></i>
                  </button>
                </div>
                <div class="p-8">
                  <img :src="imgUrl" :alt="tempItemInfo.title + '附圖' + (Number(i)+1)">
                </div>
              </div>
            </template>
            <button type="button" class="btn btn-outline-primary btn-sm d-block w-100" 
              @click="tempItemInfo.imagesUrl.push('')">
              新增圖片
            </button>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="row">
            <div class="mb-3 col-md-6">
              <label for="title" class="form-label">產品名稱</label>
              <input id="title" type="text" class="form-control" placeholder="請輸入產品名稱" v-model="tempItemInfo.title">
            </div>  
            <div class="mb-3 col-md-6">
              <label for="category" class="form-label">類別</label>
              <input id="category" type="text" class="form-control"
                      placeholder="請輸入產品類別" v-model="tempItemInfo.category">
            </div>
          </div>

          <div class="row">
            <div class="mb-3 col-md-6">
              <label for="number" class="form-label">內含產品數量</label>
              <input id="number" type="number" class="form-control" placeholder="請輸入數量" v-model.number="tempItemInfo.number">
            </div>
            <div class="mb-3 col-md-6">
              <label for="unit" class="form-label">單位</label>
              <input id="unit" type="text" class="form-control" placeholder="請輸入單位" v-model="tempItemInfo.unit">
            </div>
          </div>

          <div class="row">
            <div class="mb-3 col-md-6">
              <label for="origin_price" class="form-label">原價</label>
              <input id="origin_price" type="number" min="0" class="form-control" placeholder="請輸入產品原價" v-model.number="tempItemInfo.origin_price">
            </div>
            <div class="mb-3 col-md-6">
              <label for="price" class="form-label">優惠價</label>
              <input id="price" type="number" min="0" class="form-control"
                      placeholder="請輸入折扣優惠價" v-model.number="tempItemInfo.price">
            </div>
          </div>
          <hr>

          <div class="mb-3">
            <label for="description" class="form-label">產品描述</label>
            <textarea id="description" type="text" class="form-control"
                      placeholder="請輸入產品描述" v-model="tempItemInfo.description">
            </textarea>
          </div>
          <div class="mb-3">
            <label for="content" class="form-label">說明內容</label>
            <textarea id="description" type="text" class="form-control"
                      placeholder="請輸入說明內容" v-model="tempItemInfo.content">
            </textarea>
          </div>
          <div class="mb-3">
            <div class="form-check">
              <input id="is_enabled" class="form-check-input" type="checkbox"
                      :true-value="1" :false-value="0" v-model="tempItemInfo.is_enabled">
              <label class="form-check-label" for="is_enabled">是否啟用</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
        取消
      </button>
      <button v-if="is_addNewProduct" type="button" class="btn btn-primary" @click="$emit('editProduct')">
        建立新產品
      </button>
      <button v-else type="button" class="btn btn-success" @click="$emit('editProduct')">
        更新產品內容
      </button>
    </div>
  </div>
</div>
</script>

<!-- x-template：Modal 刪除產品樣板 -->
<script type="text/x-template" id="del-modal-template">
<div class="modal-dialog">
  <div class="modal-content border-0">
    <div class="modal-header bg-danger text-white">
      <h5 id="delProductModalLabel" class="modal-title">
        <span>刪除產品</span>
      </h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      是否刪除
      <strong v-text="this.tempItemInfo.title" class="text-danger"></strong> 商品(刪除後將無法恢復)。
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
        取消
      </button>
      <button type="button" class="btn btn-danger" @click="$emit('delProduct')">
        確認刪除
      </button>
    </div>
  </div>
</div>
</script>